In [1]:
from pypdb import *
import json
import pandas as pd

In [2]:
# return first 10 results, test: multiple sequences. want seq_identity, e-value/bitscore (for ML)
return_polymer_entity = Query("MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNFRLWPTS", 
          query_type="sequence", 
          return_type="polymer_entity")

print(return_polymer_entity.search())

{'query_id': '13ddcf44-175f-4c1b-9440-3f431fe699cc', 'result_type': 'polymer_entity', 'total_count': 22, 'result_set': [{'identifier': '2QXX_1', 'score': 1.0, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 304.0, 'norm_score': 1.0, 'match_context': [{'sequence_identity': 0.79, 'evalue': 9.01e-94, 'bitscore': 304, 'alignment_length': 186, 'mismatches': 39, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNF', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHPYGSSRAGSKYQGQRGPTPSRSYQNF'}]}]}]}, {'identifier': '4A6A_1', 'score': 0.9923076923076923, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 302.0, 'norm_score': 0.9923076923076923, 'match_context': [{'sequence_identity': 0.784, 'evalue': 3.181e-93, 'bitscore': 302, 'alignment_length': 186, 'mismatches': 40, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNF', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTVGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHPYGSSRAGSKYQGQRGPTPSRSYQNF'}]}]}]}, {'identifier': '2QLP_1', 'score': 0.8423076923076923, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 263.0, 'norm_score': 0.8423076923076923, 'match_context': [{'sequence_identity': 0.788, 'evalue': 1.151e-79, 'bitscore': 263, 'alignment_length': 161, 'mismatches': 34, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 161, 'subject_beg': 1, 'subject_end': 161, 'query_length': 192, 'subject_length': 161, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHP', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHP'}]}]}]}, {'identifier': '1XS1_1', 'score': 0.36538461538461536, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 139.0, 'norm_score': 0.36538461538461536, 'match_context': [{'sequence_identity': 0.431, 'evalue': 1.372e-36, 'bitscore': 139, 'alignment_length': 190, 'mismatches': 98, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLEFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '2V9X_1', 'score': 0.36153846153846153, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 138.0, 'norm_score': 0.36153846153846153, 'match_context': [{'sequence_identity': 0.426, 'evalue': 3.52e-36, 'bitscore': 138, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLDFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '1XS4_1', 'score': 0.3576923076923077, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 137.0, 'norm_score': 0.3576923076923077, 'match_context': [{'sequence_identity': 0.426, 'evalue': 9.026e-36, 'bitscore': 137, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLAFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '1XS6_1', 'score': 0.3576923076923077, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 137.0, 'norm_score': 0.3576923076923077, 'match_context': [{'sequence_identity': 0.426, 'evalue': 9.026e-36, 'bitscore': 137, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLAFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '2J4Q_1', 'score': 0.3576923076923077, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 137.0, 'norm_score': 0.3576923076923077, 'match_context': [{'sequence_identity': 0.426, 'evalue': 9.026e-36, 'bitscore': 137, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLAFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '2J4H_1', 'score': 0.35, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 135.0, 'norm_score': 0.35, 'match_context': [{'sequence_identity': 0.426, 'evalue': 3.168e-35, 'bitscore': 135, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVAVTAHRIDPGWSGCIVLEFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '4XJC_1', 'score': 0.2, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 17789, 'original_score': 96.0, 'norm_score': 0.2, 'match_context': [{'sequence_identity': 0.338, 'evalue': 6.595e-22, 'bitscore': 96, 'alignment_length': 183, 'mismatches': 105, 'gaps_opened': 4, 'query_beg': 1, 'query_end': 180, 'subject_beg': 1, 'subject_end': 170, 'query_length': 192, 'subject_length': 177, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHID---PAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPS', 'subject_aligned_seq': 'MILSGKTISEKLTEKELEITPLTEEQIQPASVDLRLGPHFVTIDDSKEAVISFERPIRYREWTTSD------ETIVLPPHTFLLATTMETVKLPNHLTAFVEGRSSVGRLGLFIQN-AGWVDPGFNGQITLELFNANRLPIELPIGRRICQLVFAEVTGEV------APYQGKYLFQKGATMS'}]}]}]}]}

In [3]:
# return only PDB IDs
return_entry = Query("MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNFRLWPTS", 
          query_type="sequence", 
          return_type="entry")

print(return_entry.search())

['2QXX', '4A6A', '2QLP', '1XS1', '2V9X', '1XS4', '1XS6', '2J4Q', '2J4H', '4XJC', '1OGH', '1PKH', '1PKJ', '1PKK', '2HXB', '3GF0', '2HXD', '3KM3', '4DHK', '1DUC', '1DUN', '4GK6']

In [4]:
type(return_polymer_entity.search())

dict

In [5]:
result_set = return_polymer_entity.search()['result_set']

print(result_set)

[{'identifier': '2QXX_1', 'score': 1.0, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 304.0, 'norm_score': 1.0, 'match_context': [{'sequence_identity': 0.79, 'evalue': 9.01e-94, 'bitscore': 304, 'alignment_length': 186, 'mismatches': 39, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNF', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHPYGSSRAGSKYQGQRGPTPSRSYQNF'}]}]}]}, {'identifier': '4A6A_1', 'score': 0.9923076923076923, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 302.0, 'norm_score': 0.9923076923076923, 'match_context': [{'sequence_identity': 0.784, 'evalue': 3.181e-93, 'bitscore': 302, 'alignment_length': 186, 'mismatches': 40, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNF', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTVGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHPYGSSRAGSKYQGQRGPTPSRSYQNF'}]}]}]}, {'identifier': '2QLP_1', 'score': 0.8423076923076923, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 263.0, 'norm_score': 0.8423076923076923, 'match_context': [{'sequence_identity': 0.788, 'evalue': 1.151e-79, 'bitscore': 263, 'alignment_length': 161, 'mismatches': 34, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 161, 'subject_beg': 1, 'subject_end': 161, 'query_length': 192, 'subject_length': 161, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHP', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHP'}]}]}]}, {'identifier': '1XS1_1', 'score': 0.36538461538461536, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 139.0, 'norm_score': 0.36538461538461536, 'match_context': [{'sequence_identity': 0.431, 'evalue': 1.372e-36, 'bitscore': 139, 'alignment_length': 190, 'mismatches': 98, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLEFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '2V9X_1', 'score': 0.36153846153846153, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 138.0, 'norm_score': 0.36153846153846153, 'match_context': [{'sequence_identity': 0.426, 'evalue': 3.52e-36, 'bitscore': 138, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLDFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '1XS4_1', 'score': 0.3576923076923077, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 137.0, 'norm_score': 0.3576923076923077, 'match_context': [{'sequence_identity': 0.426, 'evalue': 9.026e-36, 'bitscore': 137, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLAFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '1XS6_1', 'score': 0.3576923076923077, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 137.0, 'norm_score': 0.3576923076923077, 'match_context': [{'sequence_identity': 0.426, 'evalue': 9.026e-36, 'bitscore': 137, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLAFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '2J4Q_1', 'score': 0.3576923076923077, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 137.0, 'norm_score': 0.3576923076923077, 'match_context': [{'sequence_identity': 0.426, 'evalue': 9.026e-36, 'bitscore': 137, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVHVTAHRIDPGWSGCIVLAFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '2J4H_1', 'score': 0.35, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 135.0, 'norm_score': 0.35, 'match_context': [{'sequence_identity': 0.426, 'evalue': 3.168e-35, 'bitscore': 135, 'alignment_length': 190, 'mismatches': 99, 'gaps_opened': 3, 'query_beg': 1, 'query_end': 181, 'subject_beg': 1, 'subject_end': 189, 'query_length': 192, 'subject_length': 193, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTA--------EVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSR', 'subject_aligned_seq': 'MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRGHTAAFIDLSGPKDEVSAALDRVMSDEIVLDEGEAFYLHPGELALAVTLESVTLPADLVGWLDGRSSLARLGLMVAVTAHRIDPGWSGCIVLEFYNSGKLPLALRPGMLIGALSFEPLSGPAVRPY-NRREDAKYRNQQGAVASR'}]}]}]}, {'identifier': '4XJC_1', 'score': 0.2, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 29219, 'original_score': 96.0, 'norm_score': 0.2, 'match_context': [{'sequence_identity': 0.338, 'evalue': 6.595e-22, 'bitscore': 96, 'alignment_length': 183, 'mismatches': 105, 'gaps_opened': 4, 'query_beg': 1, 'query_end': 180, 'subject_beg': 1, 'subject_end': 170, 'query_length': 192, 'subject_length': 177, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHID---PAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPS', 'subject_aligned_seq': 'MILSGKTISEKLTEKELEITPLTEEQIQPASVDLRLGPHFVTIDDSKEAVISFERPIRYREWTTSD------ETIVLPPHTFLLATTMETVKLPNHLTAFVEGRSSVGRLGLFIQN-AGWVDPGFNGQITLELFNANRLPIELPIGRRICQLVFAEVTGEV------APYQGKYLFQKGATMS'}]}]}]}]

In [6]:
data = [{'identifier': '2QXX_1', 'score': 1.0, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 32424, 'original_score': 304.0, 'norm_score': 1.0, 'match_context': [{'sequence_identity': 0.79, 'evalue': 8.995e-94, 'bitscore': 304, 'alignment_length': 186, 'mismatches': 39, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNF', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNTRYTHIDPAKQQDELTSLVQPVDGEPFVLHPGEFVLGSTLELFTLPDNLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHITLELSNVANLPITLWPGMKIGQLCMLRLTSPSEHPYGSSRAGSKYQGQRGPTPSRSYQNF'}]}]}]}]
df = pd.json_normalize(data, 'services', ['identifier', 'score'], record_prefix='services.')
df

,services.service_type,services.nodes,identifier,score
0,sequence,"[{'node_id': 32424, 'original_score': 304.0, '...",2QXX_1,1.0

In [7]:
data2 = [{'identifier': '2QXX_1', 'score': 1.0, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 32424, 'original_score': 304.0, 'norm_score': 1.0, 'match_context': [{'sequence_identity': 0.79, 'evalue': 8.995e-94, 'bitscore': 304, 'alignment_length': 186, 'mismatches': 39, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPF', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTL'}]}]}]}, {'identifier': '4A6A_1', 'score': 0.9923076923076923, 'services': [{'service_type': 'sequence', 'nodes': [{'node_id': 32424, 'original_score': 302.0, 'norm_score': 0.9923076923076923, 'match_context': [{'sequence_identity': 0.784, 'evalue': 3.176e-93, 'bitscore': 302, 'alignment_length': 186, 'mismatches': 40, 'gaps_opened': 0, 'query_beg': 1, 'query_end': 186, 'subject_beg': 1, 'subject_end': 186, 'query_length': 192, 'subject_length': 190, 'query_aligned_seq': 'MLLSDRDLVSEIKSGDLSLEPFEP', 'subject_aligned_seq': 'MLLSDRDLRAEISSGRLGIDPFDDTLVQ'}]}]}]}]

df2 = pd.json_normalize(data2, ['services', 'nodes', 'match_context'], meta=['identifier', 'score', ['services', 'service_type']])
df2

,sequence_identity,evalue,bitscore,alignment_length,mismatches,gaps_opened,query_beg,query_end,subject_beg,subject_end,query_length,subject_length,query_aligned_seq,subject_aligned_seq,identifier,score,services.service_type
0,0.790,8.995000e-94,304,186,39,0,1,186,1,186,192,190,MLLSDRDLVSEIKSGDLSLEPF,MLLSDRDLRAEISSGRLGIDPFDDTL,2QXX_1,1.0,sequence
1,0.784,3.176000e-93,302,186,40,0,1,186,1,186,192,190,MLLSDRDLVSEIKSGDLSLEPFEP,MLLSDRDLRAEISSGRLGIDPFDDTLVQ,4A6A_1,0.992308,sequence

In [23]:
df_result = pd.json_normalize(result_set, ['services', 'nodes', 'match_context'], meta=['identifier', 'score', ['services', 'service_type']])
df_result

,sequence_identity,evalue,bitscore,alignment_length,mismatches,gaps_opened,query_beg,query_end,subject_beg,subject_end,query_length,subject_length,query_aligned_seq,subject_aligned_seq,identifier,score,services.service_type
0,0.790,9.010000e-94,304,186,39,0,1,186,1,186,192,190,MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNH...,MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNT...,2QXX_1,1.0,sequence
1,0.784,3.181000e-93,302,186,40,0,1,186,1,186,192,190,MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNH...,MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNT...,4A6A_1,0.992308,sequence
2,0.788,1.151000e-79,263,161,34,0,1,161,1,161,192,161,MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNH...,MLLSDRDLRAEISSGRLGIDPFDDTLVQPSSIDVRLDCLFRVFNNT...,2QLP_1,0.842308,sequence
3,0.431,1.372000e-36,139,190,98,3,1,181,1,189,192,193,MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNN...,MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRG...,1XS1_1,0.365385,sequence
4,0.426,3.520000e-36,138,190,99,3,1,181,1,189,192,193,MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNN...,MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRG...,2V9X_1,0.361538,sequence
5,0.426,9.026000e-36,137,190,99,3,1,181,1,189,192,193,MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNN...,MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRG...,1XS4_1,0.357692,sequence
6,0.426,9.026000e-36,137,190,99,3,1,181,1,189,192,193,MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNN...,MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRG...,1XS6_1,0.357692,sequence
7,0.426,9.026000e-36,137,190,99,3,1,181,1,189,192,193,MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNN...,MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRG...,2J4Q_1,0.357692,sequence
8,0.426,3.168000e-35,135,190,99,3,1,181,1,189,192,193,MLLSDRDLVSEIKSGDLSLEPFEPA-LLQPSSIDVRLDRFFRVFNN...,MRLCDRDIEAWLDEGRLSINPRPPVERINGATVDVRLGNKFRTFRG...,2J4H_1,0.35,sequence
9,0.338,6.595000e-22,96,183,105,4,1,180,1,170,192,177,MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNH...,MILSGKTISEKLTEKELEITPLTEEQIQPASVDLRLGPHFVTIDDS...,4XJC_1,0.2,sequence

In [24]:
df_result_reind = df_result.reindex(columns=['identifier', 'score', 'sequence_identity', 'evalue', 'bitscore'])
df_result_reind

  identifier     score  sequence_identity        evalue  bitscore
0     2QXX_1       1.0              0.790  9.010000e-94       304
1     4A6A_1  0.992308              0.784  3.181000e-93       302
2     2QLP_1  0.842308              0.788  1.151000e-79       263
3     1XS1_1  0.365385              0.431  1.372000e-36       139
4     2V9X_1  0.361538              0.426  3.520000e-36       138
5     1XS4_1  0.357692              0.426  9.026000e-36       137
6     1XS6_1  0.357692              0.426  9.026000e-36       137
7     2J4Q_1  0.357692              0.426  9.026000e-36       137
8     2J4H_1      0.35              0.426  3.168000e-35       135
9     4XJC_1       0.2              0.338  6.595000e-22        96

In [13]:
df_result2 = pd.json_normalize(result_set, ['services', 'nodes'], meta=['identifier', 'score', ['services', 'service_type']])
df_result2

,node_id,original_score,norm_score,match_context,identifier,score,services.service_type
0,29219,304.0,1.000000,"[{'sequence_identity': 0.79, 'evalue': 9.01e-9...",2QXX_1,1.0,sequence
1,29219,302.0,0.992308,"[{'sequence_identity': 0.784, 'evalue': 3.181e...",4A6A_1,0.992308,sequence
2,29219,263.0,0.842308,"[{'sequence_identity': 0.788, 'evalue': 1.151e...",2QLP_1,0.842308,sequence
3,29219,139.0,0.365385,"[{'sequence_identity': 0.431, 'evalue': 1.372e...",1XS1_1,0.365385,sequence
4,29219,138.0,0.361538,"[{'sequence_identity': 0.426, 'evalue': 3.52e-...",2V9X_1,0.361538,sequence
5,29219,137.0,0.357692,"[{'sequence_identity': 0.426, 'evalue': 9.026e...",1XS4_1,0.357692,sequence
6,29219,137.0,0.357692,"[{'sequence_identity': 0.426, 'evalue': 9.026e...",1XS6_1,0.357692,sequence
7,29219,137.0,0.357692,"[{'sequence_identity': 0.426, 'evalue': 9.026e...",2J4Q_1,0.357692,sequence
8,29219,135.0,0.350000,"[{'sequence_identity': 0.426, 'evalue': 3.168e...",2J4H_1,0.35,sequence
9,29219,96.0,0.200000,"[{'sequence_identity': 0.338, 'evalue': 6.595e...",4XJC_1,0.2,sequence