### This notebook documents how existing FAFSA database was rebranded for PairProphet

In [2]:
import pandas as pd
import numpy as np

import duckdb

In [3]:
con = duckdb.connect('/mnt/s/PairProphet/PairProphet.db')

In [5]:
tabs = con.execute("""SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE='BASE TABLE'""").df()

print(tabs)

              table_name
0                uniprot
1            fafsa_final
2         fafsa_proteins
3    fafsa_protein_pairs
4   fafsa_ogt_taxa_pairs
5             fafsa_taxa
6       fafsa_taxa_pairs
7                   taxa
8         taxa_pairs_lab
9             taxa_pairs
10              proteins
11         protein_pairs

In [15]:
for tab in tabs['table_name'][1:7]:
    new_name = 'pairpro' + tab.split('fafsa')[1]
    cmd = f"""ALTER TABLE {tab}
              RENAME TO {new_name}"""
    con.execute(cmd)

In [16]:
con.execute("""SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE='BASE TABLE'""").df()

                table_name
0                  uniprot
1            pairpro_final
2         pairpro_proteins
3    pairpro_protein_pairs
4   pairpro_ogt_taxa_pairs
5             pairpro_taxa
6       pairpro_taxa_pairs
7                     taxa
8           taxa_pairs_lab
9               taxa_pairs
10                proteins
11           protein_pairs