In [1]:
import duckdb
import pandas as pd

In [2]:
con = duckdb.connect('../tmp/pairpro_1.db')

In [3]:
con.execute("""SELECT COUNT(*) FROM pairpro_1.pairpro.final""").df()

   count_star()
0         22133

In [4]:
con2 = duckdb.connect('../tmp/pairpro.db')

In [11]:
con.execute("""SELECT COUNT(*) FROM proteins_from_pairs""").df()

   count_star()
0         35210

In [ ]:
con.execute("""SELECT COUNT(*) FROM""").df()

In [6]:
con.execute("""SELECT TABLE_NAME
                            FROM INFORMATION_SCHEMA.TABLES
                            WHERE TABLE_TYPE='BASE TABLE'""").df()

            table_name
0        hmmer_results
1  proteins_from_pairs
2                final
3             proteins