In [2]:
import find_structures
import pandas as pd
import json
import pypdb

In [3]:
find_structures.scrapepdb('MLLSDRDLVSEIKSGDLSLEPFEPALLQPSSIDVRLDRFFRVFNNHLYTHIDPAEQQDDLTAEVEVTDGEAFVLHPGEFVLASTLEVITLGDQLAGRLEGKSSLGRLGLLTHSTAGFIDPGFSGHVTLELSNVANLPIKLWPGMKIGQLCIFRLSSPAEHPYGSAVYGSRYQGQRGPTPSRSAQNFRLWPTS')

  identifier     score  sequence_identity        evalue  bitscore
0     2QXX_1       1.0              0.790  9.055000e-94       304
1     4A6A_1  0.992308              0.784  3.197000e-93       302
2     2QLP_1  0.842308              0.788  1.157000e-79       263
3     1XS1_1  0.365385              0.431  1.379000e-36       139
4     2V9X_1  0.361538              0.426  3.537000e-36       138
5     1XS4_1  0.357692              0.426  9.071000e-36       137
6     1XS6_1  0.357692              0.426  9.071000e-36       137
7     2J4Q_1  0.357692              0.426  9.071000e-36       137
8     2J4H_1      0.35              0.426  3.184000e-35       135
9     4XJC_1       0.2              0.338  6.627000e-22        96