In [1]:
import pandas as pd
import sys
sys.path.append('/home/chau_vuong/ValidProt') # Path to the repository

In [2]:
from pairpro import structures

ModuleNotFoundError: No module named 'Bio'

In [6]:
df = pd.read_csv('../data/chau_test.csv')
df_sample = df.sample(5) # Sample 5 rows from the DataFrame
df_sample

      thermo_pid    meso_pid  thermo_pdb  meso_pdb  pair_id
5307  A0A1I2KFM0      I3CJA5         NaN       NaN    13925
6922  A0A1I2HYV0  A0A4V2WAN5         NaN       NaN    10011
4776  A0A1I2J122  A0A1G6UFD0         NaN       NaN     1837
4123  A0A1I2JEP2  A0A2W5CUC6         NaN       NaN     6499
675   A0A2W7S0A6  A0A327W2H5         NaN       NaN     7519

In [7]:
# Downoad the structures to the 'structures_test' folder
structures.download_structure(df_sample, 'meso_pdb', 'meso_pid', 'structures_test')
structures.download_structure(df_sample, 'thermo_pdb', 'thermo_pid', 'structures_test')

Downloaded file: structures_test/I3CJA5.pdb
Downloaded file: structures_test/A0A1G6UFD0.pdb
Downloaded file: structures_test/A0A327W2H5.pdb
Downloaded file: structures_test/A0A4V2WAN5.pdb
Downloaded file: structures_test/A0A2W5CUC6.pdb
Successfully downloaded 5 files out of 5
Execution time: 0.8050639629364014 seconds
Downloaded file: structures_test/A0A1I2JEP2.pdb
Downloaded file: structures_test/A0A1I2KFM0.pdb
Downloaded file: structures_test/A0A1I2J122.pdb
Downloaded file: structures_test/A0A1I2HYV0.pdb
Downloaded file: structures_test/A0A2W7S0A6.pdb
Successfully downloaded 5 files out of 5
Execution time: 0.5677552223205566 seconds

In [9]:
# Compare the structures and extract T/F for the p-values. Result is saved to 'structure_alig.csv'
structures.run_fatcat_dict_job(df_sample, 'structures_test', 'structure_alig.csv')

'structure_alig.csv'

In [10]:
# Read the result
result = pd.read_csv('structure_alig.csv')
result

   pair_id  p_value
0    13925     True
1    10011     True
2     1837     True
3     6499     True
4     7519     True